html {
  margin: 0;
  padding: 0;
}

body {
  --global-padding: 10px;
  margin: 0;
  padding: var(--global-padding);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.header {
  position: sticky;
  top: 0;
}

.header__content {
  font-family: Helvetica, serif;
  font-size: 50px;
  text-align: center;
  background-color: lightcyan;
}

.header__top-guard {
  position: relative;
  top: -1px;
  margin-top: -1px;
  height: 1px;
}

.header__content.sticky {
  border-bottom: 5px greenyellow solid;
}

.action-button {
  position: sticky;
  bottom: var(--global-padding);
}

.action-button__content {
  font-family: Helvetica, serif;
  font-size: 30px;
  width: 100%;
  padding: 20px;
  margin: 0;
  border: none;
  background-color: aquamarine;
  transition: box-shadow .2s ease-in;
}

.action-button__content:active {
  background-color: aqua;
}

.action-button__content.sticky {
  box-shadow: rgb(255 255 255) 0 0 100px;
}

.action-button__bottom-guard {
  position: relative;
  bottom: calc(-1px - var(--global-padding));
  margin-bottom: -1px;
  height: 1px;
}

.big-content {
  height: 200vh;
  background-color: salmon;
}

.footer {
  height: 150px;
  background-color: lightgray;
}